/* General */

body {
    margin: 0;
}

/* Navigation */

.justify-right {
float: right;
}

.hide-content {
    display: none;
}

nav.nav2 {
    padding: 20px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background-image: url('../assets/images/taxi.jpg');
    background-position: bottom;
    background-size: cover;
}

.content-header{
    background-color: #fab443;
    width: 300px;
    height: 300px;
    float: right;
    margin-top: 90px;
    padding: 30px;
    padding-right: 0;
    margin-right: 0;
    color: white;
}

.white-logo {
    width: 65px;
}

hr {
    border: 1px solid white;
    width: 70px;
    position: relative;
}

hr.left-line {
    float: left;
}

hr.rigth-line {
    float: right;
    top: -40px;
    left: -120px;
}

p.p-lines {
    margin-left: 110px;
}

.reg-button {
    width: 120px;
    height: 35px;
}

button.btn-cc {
    position: absolute;
}

/*Info Section*/

section.info-section {
    background-color: #fab443;
    width: 100%;
    height: 500px;
    color: white;
}

div.cont-main-info {
    padding: 30px;
    border-left: none;
    position: left;
}

div.text-part {
    width: 30%;
    margin-top: 20px;
}

div.image-part {
    position: relative;
}

div.text-part {
    position: absolute;
    right: 35%;
}

img.iphone-image {
    width: 250px;
}

div.cont-border {
    width: 75%;
    border-left: none;
    margin-left: 0;
    padding-left: 0;
}

/* Invitation Section*/

button.btn-orange {
    color: white;
    background-color: #fab443;
}

div.cont-inv-section {
    width: 100%;
    height: 400px;
    background-image: url('../assets/images/conduce.jpg');
    background-position: center;
    background-size: cover;
    color: white;
}

div.inv-text-part {
    padding: 130px 20px;
    background-color: rgb(0, 0, 0, 0.5);
}

/* Rates Section*/

i {
    margin-right: 15px;
}

div.rates-section {
    background-color: #fab443;
    width: 100%;
    height: 70vh;
    color: white;
}

div.info-left {
    padding: 40px;
}

input.form-rates {
    width: 240px;
}

div.info-map {
    right: 20px;
    padding: 20px;
    width: 100%; 
}

div.margin-map {
    border: 1px solid white; 
    padding: 10px;
    width: fit-content;
}

button.btn-rates {
    margin-left: 80px;
}

/* Footer */

div.iconos {
    margin-left: 50px;
}

div.info-stores {
    align-content: right;
}

div.footer-section {
    background-color: #2b2b2b;
    height: 70vh;
    color: white;
}

div.logo-white-container {
    padding: 50px 0px 20px 50px;
}

hr.footer-hr {
    border: 0.5px solid grey;
    margin-left: 40px;
}

ul li {
    list-style: none;
}

img.iconos-stores {
    width: 125px;
}

small {
    margin-left: 40px;
}

/* Modal Sign In*/

img.user-image {
    position: relative;
    left: 40%;
}

.yellow-color {
    color: #fab443;
}

p.small-letter {
    font-size: 12px;
}

button.btn-send {
    width: 100%;
}


/* Media Query */

@media screen and (min-width:320px ) and (max-width:576px){
    div.rates-section {
        height: 120vh;
    }
    div.footer-section {
        height: 100vh;
    }
}